TTA_ENV=qa
BASE_URL=
DEV_BASE_URL=http://localhost:3000
API_BASE_URL=https://restful-booker.herokuapp.com
QA_BASE_URL=https://app.thetestingacademy.com
STG_BASE_URL=https://stage.thetestingacademy.com
PROD_BASE_URL=https://app.thetestingacademy.com

LOG_LEVEL=info
ATTACH_SCREENSHOTS=false

TEST_ENV=QA
TEST_AUTHOR=

STANDARD_USER=standard_user
TTA_SECRET=tta_secret
